<h1>世界の人気映画</h1>
<div class="container"><!-- container start -->
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">タイトル名</th>
        <th scope="col">公開日時</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><% if movie.title %><%= link_to movie.title, movie_path(movie.name)%><% end %></td>
          <td><%= movie.releasedate %></td>
          <td>image</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><!-- container end -->
