<h1>Movies#show</h1>
<p>Find me in app/views/movies/show.html.erb</p>
<% detail = JSON.parse((Tmdb::Movie.detail(params[:id])).to_json) %>
<%if detail['table']['title'].present?%>
    <h3><%= detail['table']['title'] %></h3>
<%end%>