<h1>Movies#show</h1>
<div class="d-flex flex-wrap">
        <%if @detail['table']['title'].present?%>
         <div class="card">
            <h3><%= @detail['table']['title'] %></h3>
            <h3><%= @detail['table']['release_date'] %></h3>
            <h3><%= image_tag 'https://image.tmdb.org/t/p/w1280' + @detail['table']['poster_path'],class: "card-img" %></h3>
         </div>
        <%end%>
    </div>
    <%= render 'post_form', post: @post %>
</div>
