<div class="mx-auto" style="width: 250px;">
  <h1 class="display-1"><strong>About</strong></h1>
</div></br></br>
  <p class="text-center"><strong>　　          こちらのサイトは、映画を始めとしたメディアコンテンツのレビューサイトです。</br>
                                   見たり読んだりする映画やアニメ、コミックを探している方</br>
                                         自分のおすすめのコンテンツのタイトルを紹介したい方に</br>
                          本サイトを活用していただけたらと思います。</br>
  </strong></p>